<mat-card *ngIf="ad" style="width:100%; height:250px;">
  <button mat-mini-fab *ngIf="userid === ad.ownerId && !ad.expired" (click)="deleteAd(ad);" style="float:right;">
    <mat-icon class="mat-24">delete</mat-icon>
  </button>
  <mat-card-content style="height:100%; display:flex; align-items:center;">
      <div style="max-width:250px; text-align:center; display:inline;" class="col-6">
        <img *ngIf="ad.imageUrl" style="max-width:100%;" src="https://gclastorage.blob.core.windows.net/images-container/{{ ad.imageUrl }}" alt="{{ ad.title }}">
      </div>
      <div style="display:inline;">
        <div [style.text-decoration]="textDecoration">
          <h4>{{ ad.title }}</h4>
          <strong>
            <span *ngIf="ad.sectionid !== 0 && ad.consoleid !== 0 && sections && consoles" [style.text-decoration]="textDecoration">{{sections[ad.sectionId]}}, {{consoles[ad.consoleId]}}</span>
          </strong>
        </div>
        <div style="display:inline-block;">
          <p>
            <span *ngIf="ad.price !== 0" [style.text-decoration]="textDecoration">${{ ad.price }}<br /></span>
            <span *ngIf="ad.description" [style.text-decoration]="textDecoration">{{ad.description}}<br /></span>
            <span *ngIf="ad.ownerName" [style.text-decoration]="textDecoration">{{ad.ownerName}}<span for="" *ngIf="ad.city !== ''">, {{ad.city}}<br /></span></span>
            <span *ngIf="ad.email" [style.text-decoration]="textDecoration">email: {{ad.email}}<br /></span>
            <span *ngIf="ad.telephone" [style.text-decoration]="textDecoration">telephone: {{ad.telephone}}<br /></span>
            <span *ngIf="ad.preferedContactMethod" [style.text-decoration]="textDecoration">Prefered contact method: {{ad.preferedContactMethod}}</span>
          </p>
        </div>
      </div>
  </mat-card-content>
</mat-card>
